{% extends 'base.html'%} {% load widget_tweaks%} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-8">
    <div
      class="card mx-auto shadow-sm"
      style="border-radius: 15px; padding: 20px"
    >
      <div class="card-body">
        <h5 class="card-title mb-3 text-center">Create a Resume</h5>

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <p><strong>First Name:</strong> {{ resume.first_name }}</p>
          <p><strong>Last Name:</strong> {{ resume.last_name }}</p>
          <p><strong>Location:</strong> {{ resume.location }}</p>
          <p><strong>Job Title:</strong> {{ resume.job_title }}</p>
          <p>
            <strong>Resume File:</strong>
            <a href="{{ resume.upload_resume.url }}">{{resume.upload_resume}}</a>
          </p>
          <a href="{% url 'create-resume'%}" class="btn btn-primary"
            >Edit Resume</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
