{% extends 'base.html' %}{% load humanize %} 

{% block content %}
<section>
  <div class="container">
    <h1>{{ job.title }}</h1>
    <p><strong>Company:</strong> {{ job.company }}</p>
    <p><strong>Location:</strong> {{ job.city }}</p>
    <p><strong>Job Type:</strong> {{ job.job_type }}</p>
    <p><strong>Salary:</strong> NSG:{{ job.salary|intcomma }}</p>
    <p><strong>Description:</strong> {{ job.description }}</p>
    
    {% if not request.user.is_authenticated %}
      <a href="{% url 'login' %}" class="btn btn-success">Apply Now</a>
    {% elif has_applied %}
      <p><span class="text-danger">Applied</span></p>
    {% else %}
      <a href="{% url 'apply-to-job' job.pk %}" class="btn btn-success">Apply Now</a>
    {% endif %}
  </div>
</section>

<div>
  <section>
    <h5>Job Description</h5>
    <p>{{ job.requirements }}</p>
  </section>
</div>
<br />
<div>
  <section>
    <h5>Ideal Candidate</h5>
    <p>{{ job.ideal_candidate }}</p>
  </section>
</div>
<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h3 class="card-title">Other Detail</h3>
        <p class="card-text">Something About Company</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ job.timestamp|naturaltime }}</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h3 class="card-title">About Company</h3>
        <p class="card-text">Company Name: {{ job.company.name }}</p>
        <p class="card-text">Located In: {{ job.company.city }}, {{ job.company.state }}</p>
        <p class="card-text">Established Year: {{ job.company.est_date }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ job.timestamp|naturaltime }}</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h3 class="card-title">Related Jobs</h3>
        <p class="card-text">Something About Company</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ job.timestamp|naturaltime }}</small>
      </div>
    </div>
  </div>
</div>

{% endblock %}
