{% extends 'base.html'%}
{% load widget_tweaks%}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mx-auto shadow-sm" style="border-radius: 15px; padding: 20px;">
            <div class="card-body">
                <h5 class="card-title mb-4 text-center">Create a Job Company</h5>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label">Comapny Name</label>
                        {% render_field form.name class='form-control' %}       
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label">Established Date</label>
                        {% render_field form.est_date class='form-control' %}       
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label">City</label>
                        {% render_field form.city class='form-control' %}       
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label">State</label>
                        {% render_field form.state class='form-control' %}       
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label">Contact no.</label>
                        {% render_field form.contact_number class='form-control' %}       
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput" class="form-label">Email for Contact</label>
                        {% render_field form.contact_email class='form-control' %}       
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary px-4">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}